<!DOCTYPE html>
<html lang="en" translate="no">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="view-transition" content="same-origin"/>
        <meta name="google" content="notranslate">
        <meta name="generator" content="{{ eleventy.generator }}">
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png"/>
        <link rel="shortcut icon" href="/favicon.ico"/>
        <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96"/>
        <link rel="icon" type="image/svg+xml" href="/favicon.svg"/>
        <link rel="manifest" href="/site.webmanifest"/>
        <link rel="stylesheet" href="/css/style.css"/>
        <link rel="stylesheet" href="{{ icon.url | url }}"/>
        <title>{{ title }}</title>
    </head>
    <body class="body m-5 md:m-7 space-y-9">
        <div class="space-y-9">
            {% include 'header.njk' %}
            {{ content | safe }}
        </div>
    </body>
</html>