<!DOCTYPE html>
<html lang="en" translate="no">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="view-transition" content="same-origin"/>
        <meta name="google" content="notranslate">
        <meta name="generator" content="{{ eleventy.generator }}">
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png"/>
        <link rel="shortcut icon" href="/favicon.ico"/>
        <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96"/>
        <link rel="icon" type="image/svg+xml" href="/favicon.svg"/>
        <link rel="manifest" href="/site.webmanifest"/>
        <link rel="stylesheet" href="/css/style.css"/>
        <link rel="stylesheet" href="{{ icon.url | url }}"/>
        <title>{{ title }}</title>
        <meta property="og:title" content="{{title or renderData.title or metadata.title | escape}}"/>
        <meta property="og:url" content="{{url | escape }}"/>
        <meta property="og:description" content="{{description or renderData.description | escape }}"/>
        <meta property="og:image" content="{{image | escape}}"/>
        <meta property="og:type" content="article"/>
    </head>
    <body>
        {% if hideNavbar %}
        {% else %}
            <div class="navbar mt-10 flex max-w-4xl m-auto h-10 justify-between px-4 lg:px-0">
                <a href="/" class="h-full md:mx-0 p-2 hover:bg-emerald-500 rounded">
                    <img alt="Otter Chaos!" src="/text-logo-simple.png">
                </a>
                <div class="flex">
                    <a class="flex items-center ml-2 p-2 rounded hover:bg-emerald-500" target="_blank" rel="noreferrer" href="https://bsky.app/profile/otterchaos.band">
                        <span class="text-xl sm:text-3xl  text-[#583e26] icon icon--fa6-brands icon--fa6-brands--bluesky" aria-label="Bluesky"></span>
                    </a>
                    <a class="flex items-center ml-2 p-2 rounded hover:bg-emerald-500" target="_blank" rel="noreferrer" href="https://twitter.com/OtterChaosVGM">
                        <span class="text-xl sm:text-3xl text-[#583e26] icon icon--fa6-brands icon--fa6-brands--twitter" aria-label="Twitter"></span>
                    </a>
                    <a class="flex items-center ml-2 p-2 rounded hover:bg-emerald-500" target="_blank" rel="noreferrer" href="https://youtube.com/@OtterChaosVGM">
                        <span class="text-xl sm:text-3xl nav-icon-link icon--fa6-border text-[#583e26] icon icon--fa6-brands icon--fa6-brands--youtube" aria-label="YouTube"></span>
                    </a>
                </div>
            </div>
        {% endif %}
        <div class="body space-y-9">
            {% include 'header.njk' %}
            {{ content | safe }}
        </div>
    </body>
</html>