<footer class="section footer nowrap">
  <div class="flex justify-center">
    <div class="w-1/5">
      {% image
      "./src/img/icon.png",
      "",
      "
 null
      " %}
    </div>
  </div>
  <div class="pb-3">
    <p class="text-center text-sm text-gray-500">
      &copy; {{ currentYear }}
    </p>
  </div>
</footer>