<footer class="pt-2">
  <div class="flex justify-center">
    <div class="w-1/5">
      {% image
      "./src/img/icon.png",
      "",
      "
 null
      " %}
    </div>
  </div>
  <div class="mt-4 mb-3">
    <p class="text-center text-sm">
      &copy; {{ currentYear }}
    </p>
  </div>
  <div class="pb-5 md:pb-7"></div>
</footer>