---
title: Otter Chaos! F2 2026 Concert
layout: base.njk
description: Otter Chaos! is performing at FurSquared on Feb 8, 2026.
url: otterchaos.band/f2-2026
---

<div class="section-wrapper">
  <section class="hero-section">
    <div class="grid py-4 mx-auto gap-8 lg:gap-8 xl:gap-16 lg:py-10 sm:grid-cols-1 md:grid-cols-2">
      <tariv class="mr-auto">
        <h1 class="text-left max-w-2xl mb-4 text-3xl font-extrabold leading-none md:text-4xl xl:text-5xl dark:text-white">
        Otter Chaos! at FurSquared
      </h1>
        <p class="max-w-2xl mb-6  text-left text-gray-800 lg:mb-8 md:text-lg lg:text-xl dark:text-gray-400">
        Sunday 12:00-1:00pm, February 8, 2026, Milwaukee, Wisconsin
      </p>
        <p class="mb-6 text-left text-gray-800 lg:mb-8 md:text-lg lg:text-xl dark:text-gray-400">
          <article class="inline-flex flex-col items-center gap-4 justify-center bg-stone-300 p-7 rounded-xl">
            <p class="text-left">
Get ready for… <span class="font-bold">Otter Chaos!</span> This furry video game music band is back for another chaotic concert at FurSquared! They perform original arrangements of tunes from game series such as Mario, Sonic, Undertale and Pokémon. You won’t want to miss this chaotic show featuring an eclectic group of instruments including accordion, electric violin, trombone, drums, and more!
          </p>
            <a target="_blank" href="https://schedule.fursquared.com/schedule/f2-2026/activity/rm5ODb2ujU4Ygx" class="inline-flex items-center justify-center px-5 py-3 text-base font-medium text-center text-white rounded-lg bg-primary-700 button ">
              FurSquared 2026 Schedule
              <svg class="w-5 h-5 ml-2 -mr-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path>
              </svg>
            </a>
          </article>
        </div>
      </div>
    </section>
  </div>

  <div class="section-wrapper bg-[#583e26]">
    <section class="section ">
      <h2 class="pt-10 lg:pt-12 mb-3 lg:mb-4 text-3xl font-extrabold leading-none md:text-4xl xl:text-5xl text-[#ffd12d]">
    How to attend
  </h2>
      <article class="inline-flex flex-col items-center gap-4 justify-center bg-stone-300 p-7 rounded-xl">
        <h3 class="mr-auto text-md">Register for F2</h3>
        <p class="text-left">
        The concert is open to all attendees of the convention.
        Badge price at the door is $40 for a Sunday badge, or $70 for the full weekend badge.
        </p>

        <a class="button w-full inline-flex items-center justify-center px-5 py-3 text-base font-medium text-center text-white rounded-lg bg-primary-700 "target="_blank" href="https://fursquared.com/registration/">F2 Registration Info
              <svg class="w-5 h-5 ml-2 -mr-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path>
          </svg>
        </a>
      </article>

      <div class=" text-gray-200">
        {% include 'footer.njk' %}
      </div>
    </section>
  </div>