---
layout: base.njk
pagination:
  data: shows
  size: 1
  alias: show
permalink: "/{{ show.slug }}/index.html"
eleventyComputed:
  title: "{{ show.metaTitle }}"
  description: "{{ show.metaDescription }}"
  image: "{{ show.metaImage }}"
  url: "otterchaos.band/{{ show.slug }}"
---

<div class="section-wrapper">
  <section class="hero-section">
    <div class="grid py-4 mx-auto gap-8 lg:gap-8 xl:gap-16 lg:py-10 sm:grid-cols-1 md:grid-cols-2">
      {% if show.posterImage %}
        <div class="lg:mt-0 drop-shadow-md">
          {% image
          show.posterImage,
          show.posterAlt or(show.title + " poster"),
          "null" %}
          {% if show.posterCredit %}
            <p class="text-xs text-gray-700 text-center mt-2">
              <a href="{{ show.posterCredit.url }}" target="_blank" rel="noopener" class="hover:underline">{{ show.posterCredit.text }}</a>
            </p>
          {% endif %}
        </div>
      {% endif %}
      <div class="mr-auto">
        <h1 class="text-left max-w-2xl mb-4 text-3xl font-extrabold leading-none md:text-4xl xl:text-5xl dark:text-white">
          {{ show.title }}
        </h1>
        <div class="max-w-2xl mb-6 text-left text-gray-800 lg:mb-8 md:text-lg lg:text-xl dark:text-gray-400">
          {{ show.dateString | formatConcertDate }}, {{ show.startTime | formatConcertTimeRange(show.endTime) }}, {{ show.location }}
          {% include "add-to-calendar-inline.njk" %}
        </div>
        <article class="inline-flex flex-col items-center gap-4 justify-center bg-stone-300 p-7 rounded-xl">
          <p class="text-left">{{ show.description }}</p>
          {% if show.scheduleIntro %}
            <p class="text-left w-full">{{ show.scheduleIntro }}</p>
          {% endif %}
          {% if show.scheduleLink and show.scheduleButtonText %}
            <a target="_blank" href="{{ show.scheduleLink }}" class="inline-flex items-center justify-center px-5 py-3 text-base font-medium text-center text-white rounded-lg bg-primary-700 button ">
              {{ show.scheduleButtonText }}
              <svg class="w-5 h-5 ml-2 -mr-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path>
              </svg>
            </a>
          {% endif %}
        </article>
      </div>
    </div>
  </section>
</div>

{% set hasHowToAttendDetails = show.registration or(show.howToAttendCardIncludes and show.howToAttendCardIncludes.length) %}
<div class="section-wrapper bg-[#583e26]">
  <section class="section ">

    {% if hasHowToAttendDetails %}
      <h2 class="pt-10 lg:pt-12 mb-3 lg:mb-4 text-3xl font-extrabold leading-none md:text-4xl xl:text-5xl text-[#ffd12d]">
        How to attend
      </h2>

      {% if show.registration %}
        <article class="inline-flex flex-col items-center gap-4 justify-center bg-stone-300 p-7 rounded-xl">
          <h3 class="mr-auto text-md">{{ show.registration.title }}</h3>
          <p class="text-left inline-links">{{ show.registration.details | safe }}</p>

          {% if show.registration.alertTitle and show.registration.alertText %}
            <div class="bg-teal-100 border-teal-500 rounded text-teal-900 px-4 py-3 shadow-lg" role="alert">
              <div class="flex">
                <div class="py-1">
                  <svg class="fill-current h-6 w-6 text-teal-500 mr-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M2.93 17.07A10 10 0 1 1 17.07 2.93 10 10 0 0 1 2.93 17.07zm12.73-1.41A8 8 0 1 0 4.34 4.34a8 8 0 0 0 11.32 11.32zM9 11V9h2v6H9v-4zm0-6h2v2H9V5z"/></svg>
                </div>
                <div>
                  <p class="font-bold text-left mb-1">{{ show.registration.alertTitle }}</p>
                  <p class="text-sm text-left">{{ show.registration.alertText }}</p>
                </div>
              </div>
            </div>
          {% endif %}

          <a class="button w-full inline-flex items-center justify-center px-5 py-3 text-base font-medium text-center text-white rounded-lg bg-primary-700" target="_blank" href="{{ show.registration.buttonUrl }}">
            {{ show.registration.buttonText }}
            <svg class="w-5 h-5 ml-2 -mr-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path>
            </svg>
          </a>
        </article>
      {% endif %}

      {% if show.howToAttendCardIncludes %}
        {% for cardInclude in show.howToAttendCardIncludes %}
          {% include cardInclude %}
        {% endfor %}
      {% endif %}
    {% else %}
      {# spacer for footer when there's no attendance details #}
      <div class="py-3"></div>
    {% endif %}

    <div class="text-gray-200">
      <footer class="pt-2">
        <div class="flex justify-center">
          <div class="w-1/5">
            {% image
            "./src/img/icon.png",
            "",
            "
 null
            " %}
          </div>
        </div>
        <div class="mt-4 mb-3">
          <p class="text-center text-sm">
            &copy; {{ currentYear }}
          </p>
        </div>
        <div class="pb-5 md:pb-7"></div>
      </footer>
    </div>
  </section>
</div>