---
title: Otter Chaos! MFF 2025 Concert
layout: base.njk
description: Otter Chaos! is performing at Midwest Furfest on Dec 5, 2025.
image: /otterchaos-ograph.png
url: otterchaos.band/mff-2025
---

<div class="section-wrapper">
  <section class="hero-section">
    <div class="grid py-4 mx-auto gap-8 lg:gap-8 xl:gap-16 lg:py-10 sm:grid-cols-1 md:grid-cols-2">
      <div class="lg:mt-0 drop-shadow-md">
        {#
        {% image
      "./src/img/mff2025.png",
      "Otter Chaos! Video Game Concert - MFF 2025, Dec 5th, 5:00pm-6:30pm.
      " null " %}
      #}
      </div>
      <div class="mr-auto">
        <h1 class="text-left max-w-2xl mb-4 text-3xl font-extrabold leading-none md:text-4xl xl:text-5xl dark:text-white">
        Otter Chaos! at Midwest FurFest
      </h1>
        <p class="max-w-2xl mb-6  text-left text-gray-800 lg:mb-8 md:text-lg lg:text-xl dark:text-gray-400">
        Friday 5:00-6:30pm, December 5, 2025, Rosemont, Illinois
      </p>
        <p class="mb-6 text-left text-gray-800 lg:mb-8 md:text-lg lg:text-xl dark:text-gray-400">
          <article class="inline-flex flex-col items-center gap-4 justify-center bg-stone-300 p-7 rounded-xl">
            <p class="text-left">

              <span class="font-bold">Otter Chaos!</span> 
      is a group of furry musicians who love video game music. Their live concert at Midwest Furfest will feature boss battle music and villain themes from video games both old and new, performed by a wild ensemble of instruments including: accordion, steelpans, electric violin, theremin and more!
          </p>
           <p class="text-left w-full">Don't miss the biggest Otter Chaos! concert yet. Add it to your schedule on the MFF 2025 Sched app.</p> 
            <a target="_blank" href="https://midwestfurfest2025.sched.com/event/2AEP9/otter-chaos" class="inline-flex items-center justify-center px-5 py-3 text-base font-medium text-center text-white rounded-lg bg-primary-700 button">
              Add to your schedule
              <svg class="w-5 h-5 ml-2 -mr-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path>
              </svg>
            </a>
          </article>
        </div>
      </div>
    </section>
  </div>

  <div class="section-wrapper bg-[#583e26]">
    <section class="section ">
      <h2 class="pt-10 lg:pt-12 mb-3 lg:mb-4 text-3xl font-extrabold leading-none md:text-4xl xl:text-5xl text-[#ffd12d]">
    How to attend
  </h2>
      <article class="inline-flex flex-col items-center gap-4 justify-center bg-stone-300 p-7 rounded-xl">
        <h3 class="mr-auto text-md">Register for MFF</h3>
        <p class="text-left">
        The concert is open to all attendees of the convention.
        Badge price at the door is $55 for a Friday badge, or $110 for the full weekend badge.
        </p>

        <div class="bg-teal-100  border-teal-500 rounded text-teal-900 px-4 py-3 shadow-lg" role="alert">
          <div class="flex">
            <div class="py-1">
              <svg class="fill-current h-6 w-6 text-teal-500 mr-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M2.93 17.07A10 10 0 1 1 17.07 2.93 10 10 0 0 1 2.93 17.07zm12.73-1.41A8 8 0 1 0 4.34 4.34a8 8 0 0 0 11.32 11.32zM9 11V9h2v6H9v-4zm0-6h2v2H9V5z"/></svg>
            </div>
            <div>
              <p class="font-bold text-left mb-1">Reg line can be long</p>
              <p class="text-sm text-left">Pick up your badge Thursday evening or Friday morning to make sure you can attend the concert.</p>
            </div>
          </div>
        </div>
        <a class="button w-full inline-flex items-center justify-center px-5 py-3 text-base font-medium text-center text-white rounded-lg bg-primary-700 "target="_blank" href="https://www.furfest.org/attend/register">MFF Registration Info
              <svg class="w-5 h-5 ml-2 -mr-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path>
          </svg>
        </a>
      </article>

      <article class="inline-flex flex-col items-center gap-4 justify-center bg-stone-300 p-7 rounded-xl w-full">
        <h3 class="mr-auto text-md">Getting there</h3>
        <svg class="drop-shadow-md" width="100%" height="100%" viewBox="0 0 500 500" style="height: auto" stroke="#059669" fill="#059669">
          <image href="/mff-map.png" x="0" y="0" width="500" height="500"/>
          <a class="hover:underline" target="_blank" rel="noreferrer" href="https://www.transitchicago.com/blueline/">
            <image href="/cta-marker.svg" x="333" y="50" width="40" height="40"/>
            <text stroke="#204a87" fill="#204a87">
              <tspan x="300" y="105">CTA Blue Line</tspan>
            </text>
          </a>
          <a class="hover:underline drop-shadow-md" target="_blank" rel="noreferrer" href="https://maps.app.goo.gl/QMzL5dqzQbyULGiR6">
            <image href="/map-marker.svg" x="350" y="143" width="50" height="50"/>
            <text>
              <tspan x="360" y="210">Hyatt Regency</tspan>
              <tspan x="360" y="210" dy="1.2em">O'Hare (Concert)</tspan>
            </text>
          </a>
          <a class="hover:underline" target="_blank" rel="noreferrer" href="https://maps.app.goo.gl/Ae7iLPZHdPvgsHNw5">
            <image href="/map-marker.svg" x="300" y="220" width="50" height="50"/>
            <text>
              <tspan x="250" y="290">Donald E. Stephens</tspan>
              <tspan x="250" y="290" dy="1.2em">Convention Center</tspan>
              <tspan x="250" y="290" dy="2.4em">(Badge Pickup)</tspan>
            </text>
          </a>
          <a class="hover:underline" target="_blank" rel="noreferrer" href="https://maps.app.goo.gl/Gf8J3b8E3LbHARrM9">
            <image href="/parking-marker.svg" x="200" y="230" width="35" height="35"/>
            <text stroke="#204a87" fill="#204a87" >
              <tspan x="160" y="205">Parkway Bank</tspan>
              <tspan x="160" y="205" dy="1.2em">Parking Garage</tspan>
            </text>
          </a>
        </svg>

        <ul class="list-none text-left inline-links">
          <li>
            <span class="font-bold">Public transit:</span> take the CTA Blue Line to the Rosemont stop, then transfer to the Rosemont Circulator bus which will bring you to the convention center.
          </li>
          <li>
            <span class="font-bold">Public parking:</span>
            <a href="https://maps.app.goo.gl/EMX8G1uTAeaRFjRe6" target="_blank" rel="noreferrer">Parkway Bank Parking Garage</a> is $15 a day.
          </li>
          <li>
            <span class="font-bold">Badge pickup:</span>
            Hall A in the <a target="_blank" rel="noreferrer" href="https://maps.app.goo.gl/Ae7iLPZHdPvgsHNw5">Donald E. Stephens Convention Center.</a>
          </li>
          <span class="font-bold">Concert:</span>
          5:00pm - 6:30pm on Friday Dec. 5th, Grand Ballroom (Main Stage) in the <a target="_blank" rel="noreffer" href="https://maps.app.goo.gl/QMzL5dqzQbyULGiR6"> Hyatt Regency O'Hare.</a>
          <li>
        </ul>
      </article>
      <div class=" text-gray-200">
        {% include 'footer.njk' %}
      </div>
    </section>
  </div>