@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --yellow: #ffd12d;
}

/**
 * from 11tree:
 * DIY classless theme - leverage Tailwind's classes to compose your own classless theme!
 * This is extremely powerful if you know semantic html, accessibility, and good design principles.
 */
@layer components {
  body {
    @apply text-slate-800 text-center bg-stone-50;
  }
  .button,
  button.primary {
    @apply py-2 px-5 bg-emerald-600 leading-relaxed tracking-wider uppercase font-semibold text-sm text-white rounded-md shadow-md transition-colors duration-300 hover:bg-emerald-950 focus:outline-none focus:ring ring-offset-1 focus:ring-emerald-600 inline-block w-full text-center hover:enabled:cursor-pointer;
  }
  [type="button"].primary {
    @apply bg-emerald-600;
  }
  .inline-links a {
    @apply text-emerald-800 underline hover:text-emerald-900;
  }
  h1 {
    @apply text-4xl font-bold text-slate-800 text-center;
  }
  h2 {
    @apply text-3xl font-bold text-slate-800 text-center;
  }
  h3 {
    @apply text-2xl font-bold text-slate-800 text-center;
  }
  h4 {
    @apply text-xl font-bold text-slate-800 text-center;
  }
  .section-wrapper {
    @apply px-5 md:px-7;
  }
  .section {
    @apply max-w-lg m-auto space-y-5 md:space-y-7;
  }
  .hero-section {
    @apply max-w-4xl m-auto space-y-5 md:space-y-7;
  }
}

img {
  max-width: 100%;
}
img[width] {
  width: auto; /* Defer to max-width */
}
img[width][height] {
  height: auto; /* Preserve aspect ratio */
}

.navbar {
  img {
    height: 100%;
  }
}

/* Let SVG scale without boundaries */
img[src$=".svg"] {
  width: 100%;
  height: auto;
  max-width: none;
}

body {
  background: repeating-linear-gradient(
    0deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(34, 193, 195, 1) 60%,
    rgba(253, 187, 45, 1) 100%
  );
}

/*
.body {
  background: repeating-linear-gradient(
    0deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(34, 193, 195, 1) 60%,
    rgba(253, 187, 45, 1) 100%
  );
}
  */
