<article class="inline-flex flex-col items-center gap-4 justify-center bg-stone-300 p-7 rounded-xl w-full">
  <h3 class="mr-auto text-md">Watch the YouTube Stream</h3>
  <p class="text-left inline-links">If you cannot attend in person, you can watch the concert live on Anthrocon's YouTube channel: <a href="https://www.youtube.com/@anthrocon" target="_blank" rel="noopener">youtube.com/@anthrocon</a> at Friday, July 3, 2026, 3:00pm EST.</p>
  <a
    class="button w-full inline-flex items-center justify-center px-5 py-3 text-base font-medium text-center text-white rounded-lg bg-[#1f6f8b] hover:bg-[#195a71]"
    href="https://www.youtube.com/@anthrocon"
    target="_blank"
    rel="noopener"
  >
    Anthrocon YouTube Channel
    <svg class="w-5 h-5 ml-2 -mr-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
      <path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l5 5a1 1 0 010 1.414l-5 5a1 1 0 01-1.414-1.414L13.586 11H6a1 1 0 110-2h7.586l-3.293-3.293a1 1 0 010-1.414z" clip-rule="evenodd"></path>
    </svg>
  </a>
</article>