---
title: Otter Chaos!
layout: base.njk
hideNavbar: true
description: Otter Chaos! is a group of furry musicians who love video game music! We perform at cons with a big band, and put on livestream shows for events on Twitch. Featuring accordion, electric violin, trombone, fursuits and more!
image: /otterchaos-ograph.png
url: otterchaos.band
---

{# TODO get the sourceset sizes working #}
<div id="banner" class="relative isolate flex items-center gap-x-6 overflow-hidden bg-[#D3CFFD] px-6 py-2.5 sm:px-3.5 sm:before:flex-1">
  <div class="absolute left-[max(-7rem,calc(50%-52rem))] top-1/2 -z-10 -translate-y-1/2 transform-gpu blur-2xl" aria-hidden="true">
    <div class="aspect-[577/310] w-[36.0625rem] bg-gradient-to-r from-[#ff80b5] to-[#9089fc] opacity-40" style="clip-path: polygon(74.8% 41.9%, 97.2% 73.2%, 100% 34.9%, 92.5% 0.4%, 87.5% 0%, 75% 28.6%, 58.5% 54.6%, 50.1% 56.8%, 46.9% 44%, 48.3% 17.4%, 24.7% 53.9%, 0% 27.9%, 11.9% 74.2%, 24.9% 54.1%, 68.6% 100%, 74.8% 41.9%)"></div>
  </div>
  <div class="absolute left-[max(45rem,calc(50%+8rem))] top-1/2 -z-10 -translate-y-1/2 transform-gpu blur-2xl" aria-hidden="true">
    <div class="aspect-[577/310] w-[36.0625rem] bg-gradient-to-r from-[#ff80b5] to-[#9089fc] opacity-40" style="clip-path: polygon(74.8% 41.9%, 97.2% 73.2%, 100% 34.9%, 92.5% 0.4%, 87.5% 0%, 75% 28.6%, 58.5% 54.6%, 50.1% 56.8%, 46.9% 44%, 48.3% 17.4%, 24.7% 53.9%, 0% 27.9%, 11.9% 74.2%, 24.9% 54.1%, 68.6% 100%, 74.8% 41.9%)"></div>
  </div>
  <div class="flex flex-wrap items-center gap-x-4 gap-y-2">
    <p class="text-sm/6 text-gray-900 text-left">
      <strong class="font-semibold text-center md:text-left md:mr-2">Are you going to Midwest FurFest 2024?</strong>
      <span class="text-left">We're performing there!</span>
      <div class="hidden lg:block">
        <svg viewBox="0 0 2 2" class="mr-2 inline size-0.5 fill-current" aria-hidden="true"><circle cx="1" cy="1" r="1"/></svg>
        <span>Friday Dec 6th 2:30-3:30pm</span>
      </div>
      <a href="/mff2024" class="rounded-full w-full sm:w-auto bg-emerald-600 px-3.5 py-1 text-sm font-semibold text-white shadow-sm hover:bg-emerald-700 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-emerald-600">More info<span aria-hidden="true">&rarr;</span></a>
    </p>
  </div>
  <div class="flex flex-1 justify-end">
    <button type="button" class="-m-3 p-3 focus-visible:outline-offset-[-4px]"
      onclick="document.getElementById('banner').remove();"
    >
      <span class="sr-only">Dismiss</span>
      <svg class="size-5 text-gray-900" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
        <path d="M6.28 5.22a.75.75 0 0 0-1.06 1.06L8.94 10l-3.72 3.72a.75.75 0 1 0 1.06 1.06L10 11.06l3.72 3.72a.75.75 0 1 0 1.06-1.06L11.06 10l3.72-3.72a.75.75 0 0 0-1.06-1.06L10 8.94 6.28 5.22Z"/>
      </svg>
    </button>
  </div>
</div>

<div class="section-wrapper">
  <section class="section body">
    <div class="w-3/4 mx-auto mt-5 md:mt-7">
      {% image
      "./src/img/logo.png",
      "Otter Chaos! Logo",
      "
 null
      " %}
    </div>
    <article class="inline-flex flex-col items-center gap-4 justify-center bg-stone-300 p-7 rounded-xl">
      <p class="text-left">
        <span class="font-bold">Otter Chaos!</span> 
     is a group of furry musicians who love video game music! We perform at cons with a big band, and put on livestream shows for events on Twitch. 
     Featuring accordion, electric violin, trombone, fursuits and more!
    </p>
    </article>

    <a class="button inline-flex w-full items-center justify-center gap-4 rounded-full" target="_blank" rel="noreferrer" href="https://bsky.app/profile/otterchaos.band">
      <span class="icon icon--fa6-brands icon--fa6-brands--bluesky text-primary dark:text-white text-2xl'" aria-hidden="true"></span>
      BlueSky
    </a>
    <a class="button inline-flex w-full items-center justify-center gap-4 rounded-full" target="_blank" rel="noreferrer" href="https://twitter.com/OtterChaosVGM">
      <span class="icon icon--fa6-brands icon--fa6-brands--twitter text-primary dark:text-white text-2xl'" aria-hidden="true"></span>
      Twitter
    </a>
    <a class="button inline-flex w-full items-center justify-center gap-4 rounded-full" target="_blank" rel="noreferrer" href="https://youtube.com/@OtterChaosVGM">
      <span class="icon icon--fa6-brands icon--fa6-brands--youtube text-primary dark:text-white text-2xl'" aria-hidden="true"></span>
    YouTube
  </a>

    <article class="inline-flex flex-col items-center gap-4 justify-center bg-stone-300 p-7 rounded-xl hover:shadow-lg transition-shadow">
      <header>
        <h3>
        Watch our most recent concert!
      </h3>
      </header>
      <a href="https://www.youtube.com/watch?v=RhUJA6ehZBQ" class="p-2 button">
        <div>
          <img src="https://img.youtube.com/vi/RhUJA6ehZBQ/0.jpg" alt="thumbnail" class="rounded aspect-video object-cover" draggable="false"/>
        </div>
      </a>
      <footer>
        <span class="text-left">
        IndyFurCon 2024
      </span>
      </footer>
    </article>
    <div class=" text-gray-600">
      {% include 'footer.njk' %}
    </div>
  </section>
</div>